{% extends 'baseBack.html.twig' %}

{% block title %}Chauffeur index{% endblock %}

{% block body %}
   <center> <h1>Chauffeur List</h1></center>
    <div class="d-flex justify-content-center mt-4">
    <div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du chauffeur </th>
                <th>Prénom du chauffeur</th>
                <th>Numéro du chauffeur</th>
                <th>Adresse du chauffeur</th>
                <th>Email du chauffeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chauffeur in chauffeurs %}
            <tr>
                <td>{{ chauffeur.id }}</td>
                <td>{{ chauffeur.nomc }}</td>
                <td>{{ chauffeur.prenomc }}</td>
                <td>{{ chauffeur.numc }}</td>
                <td>{{ chauffeur.adressec }}</td>
                <td>{{ chauffeur.emailc }}</td>
                <td style="display: flex; gap: 10px;">
                  <button class="btn btn-sm btn-outline-primary">
                    <a href="{{ path('app_chauffeur_show_back', {'id': chauffeur.id}) }}" style="text-decoration: none; color: inherit;">Show</a>
                  </button>
                  <button class="btn btn-sm btn-outline-secondary">
                    <a href="{{ path('app_chauffeur_edit_back', {'id': chauffeur.id}) }}" style="text-decoration: none; color: inherit;">Edit</a>
                  </button>
                  {{ include('chauffeur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.flashes('success') %}
    <div id="flash-message" class="alert alert-success">
        {{ flashMessage }}
    </div>
  {% endfor %}
    {% if chauffeurs|length > 0 %}
    <div class="d-flex justify-content-center my-4">
        {{ knp_pagination_render(chauffeurs) }}
    </div>
{% endif %}
</div>
</div>
    <button class="btn btn-primary mb-4">
      <a href="{{ path('app_chauffeur_new_back') }}" style="text-decoration: none; color: inherit;">Create New</a>
    </button>

<style>
    .mt-4 {
        margin-top: 4rem;
    }
    table {
        width: 90%;
        margin: 1rem auto;
        border-collapse: collapse;
        border: 2px solid #ffb6c1; /* pink border */
        box-shadow: 0px 0px 10px #9370db; /* purple shadow */
        table-layout: auto;
    }
    th, td, th {
        border: 1px solid ; /* purple border */
        padding: 0.5rem;
        text-align: center;
    }
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 1rem 0;
        padding: 0;
    }
    .pagination li {
        margin-right: 0.5rem;
    }
    .pagination li a {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .pagination li a:hover {
        background-color: #0069d9;
    }
    .pagination .active a {
        background-color: #0069d9;
        border-color: #0062cc;
    }
</style>




{% endblock %}
