{% extends 'base-front_chauffeur.html.twig' %}

{% block title %}New Assurance{% endblock %}

{% block body %}
    <data-spy="scroll" data-target=".inner-link" data-offset="60">
    <main>
        <div class="znav-container znav-white znav-fixed border-bottom color-10" id="znav-container">
            <div class="container">
                <nav class="navbar navbar-toggleable-md"><button class="navbar-toggler navbar-toggler-right"
                        type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger hamburger--emphatic">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </button><a class="navbar-brand overflow-hidden" href="{{ path('app_home_front_chauffeur') }}"><img
                            src="{{asset('front-office/images/posh.png')}}" alt='logo' width='80px'></a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li><a href="JavaScript:void(0)">Settings</a>
                                <ul class="dropdown">
                                    <li><a href="JavaScript:void(0)">Account</a>
                                        <ul class="dropdown dropdown-push-right">
                                        <li><a href="{{ path('app_user_show_front_chauffeur', {'id': user.id}) }}">view Profile</a></li>
                                            <li><a href="{{ path('app_user_edit_front_chauffeur', {'id': user.id}) }}">Account Settings</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('app_logout') }}">Log out</a></li>
                                </ul>
                            </li>
                            <li><a href="JavaScript:void(0)">Assurance</a>
                                <ul class="dropdown">
                                    <li><a href="{{ path('app_assurance_new', {'id': assurance.id}) }}">Ajouter Assurance</a></li>
{% if assurance is not null and assurance.createdBy is not null %}
    <li><a href="{{ path('app_assurance_index_chauffeur', {'created_by_id': assurance.createdBy.id}) }}">consulter votre assurance</a></li>
{% endif %}
</li>                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- /.container-->
        </div><!-- /.znav-container-->
        </main>
{% block js %}
    <!--  --><!--    JavaScripts--><!--    =============================================-->
    <script src="{{asset('front-office/lib/jquery/dist/jquery.js')}}"></script>
    <script src="{{asset('front-office/js/tether.min.js')}}"></script>
    <script src="{{asset('front-office/lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Hotjar Tracking Code for http://markup.themewagon.com/tryposh-->
    <script>(function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 588723, hjsv: 5 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');</script>
    <script>(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-76729372-3', 'auto');
        ga('send', 'pageview');</script>
    <script src="{{asset('front-office/lib/typed.js/dist/typed.min.js')}}"></script>
    <script src="{{asset('front-office/lib/isotope/dist/isotope.pkgd.js')}}"></script>
    <script src="{{asset('front-office/js/core.js')}}"></script>
    <script src="{{asset('front-office/js/main.js')}}"></script>
    {% endblock %}
        <div class="container">
 <h3>Modifier mon mot de passe : </h3>
                 <h3>Modifier mon mot de passe : </h3>
    {{ include('assurance/_form.html.twig') }}
<a href="{{ path('app_home_front_chauffeur') }}">back</a>
</div>
{% endblock %}
