{% extends 'baseFront.html.twig' %}

{% block title %}Infotrafic index{% endblock %}

{% block body %}


 <head>
    <title>Search Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
  // Hide the results list on page load
  $('#result-list').addClass('hidden');

  // Show the results list when the search box is clicked
  $('#search-box').on('click', function() {
    $('#result-list').removeClass('hidden');
  });

  // Hide the results list when the search box loses focus
  $('#search-box').on('blur', function() {
    $('#result-list').addClass('hidden');
  });

  // Hide the results list when the user presses the "Tab" key to move to another element on the page
  $('#search-box').on('keydown', function(event) {
    if (event.keyCode === 9) {
      $('#result-list').addClass('hidden');
    }
  });

  // TODO: Add AJAX functionality to fetch search results and update the list
});

    </script>
  </head>
    <script>
        $(document).ready(function(){
            $(".btn1").click(function(){
                $("h1").slideUp();
            });
            $(".btn2").click(function(){
                $("h1").slideDown();
            });
            $(".btn3").click(function(){
                $("h1").slideToggle();
            });
        });
    </script>
    <h1>Infotrafic List</h1>
    <div class="d-flex justify-content-center mt-4">
    <div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Chauffeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       <input type="text" id="search-box" placeholder="Search...">
<div id="result-list"></div>

<script>
    // Get the search field
    var searchField = document.getElementById("search");

    // Get the table body
    var tableBody = document.getElementById("myTable").getElementsByTagName("tbody")[0];

    // Add an event listener to the search field
    searchField.addEventListener("keyup", function() {
        // Get the search value
        var searchValue = this.value.toLowerCase();

        // Loop through all the rows in the table body
        for (var i = 0; i < tableBody.rows.length; i++) {
            var row = tableBody.rows[i];

            // Get the cells in the row
            var cells = row.getElementsByTagName("td");

            // Loop through all the cells in the row
            var found = false;
            for (var j = 0; j < cells.length; j++) {
                var cell = cells[j];

                // Check if the cell value contains the search value
                if (cell.innerHTML.toLowerCase().indexOf(searchValue) > -1) {
                    found = true;
                    break;
                }
            }

            // Show or hide the row based on whether the search value was found
            if (found) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    });
</script>

{% for infotrafic in infotrafics %}
    <tr>
        <td>{{ infotrafic.type }}</td>
        <td>{{ infotrafic.description }}</td>
        <td>nom:{{infotrafic.chauffeur.nomc }}/prenom:{{infotrafic.chauffeur.prenomc }}/email:{{infotrafic.chauffeur.emailc }}</td>
        <td style="display: flex;gap: 10px;">
            <Button>  
                <a href="{{ path('app_infotrafic_show', {'id': infotrafic.id}) }}">Show</a>
            </Button>
            <Button>  
                <a href="{{ path('app_infotrafic_edit', {'id': infotrafic.id}) }}">Edit</a>
            </Button>
            <form action="{{ path('app_infotraffic_like', {'infoid': infotrafic.id}) }}" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-thumbs-up"></i> {{ infotrafic.likes|default(0) }}</button>
            </form>
            <form action="{{ path('app_infotraffic_dislike', {'infoid': infotrafic.id}) }}" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-thumbs-down"></i> {{ infotrafic.dislikes|default(0) }}</button>
            </form>
        </td>
    </tr>


{% endfor %}

        </tbody>
    </table>
    {% for flashMessage in app.flashes('success') %}
    <div id="flash-message" class="alert alert-success">
        {{ flashMessage }}
    </div>
  {% endfor %}
  {% if infotrafics|length > 0 %}
  <div class="d-flex justify-content-center my-4">
      {{ knp_pagination_render(infotrafics) }}
  </div>
{% endif %}
</div>
</div>

   <Button> <a href="{{ path('app_infotrafic_new') }}">Create new</a></Button>


   
   



    <style>
        .mt-4 {
            margin-top: 4rem;
        }
       
        table {
            width: 90%;
            margin: 1rem auto;
            border-collapse: collapse;
            border: 2px solid #ffb6c1; /* pink border */
            box-shadow: 0px 0px 10px #9370db; /* purple shadow */
            table-layout: auto;
        }
        th, td {
            border: 1px solid ; /* purple border */
           padding: 0.5rem;
           text-align: center;
           
          }

         
        
    </style>
    <style>
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 1rem 0;
        padding: 0;
    }
    .pagination li {
        margin-right: 0.5rem;
    }
    .pagination li a {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        display: inline-block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    .pagination li a:hover {
        background-color: #0069d9;
    }
    .pagination .active a {
        background-color: #0069d9;
        border-color: #0062cc;
    }
</style>

   

{% endblock %}
