{% extends 'baseFront.html.twig' %}

{% block title %}Infotrafic index{% endblock %}

{% block body %}
    <h1>Infotrafic List</h1>
    <div class="d-flex justify-content-center mt-4">
    <div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Chauffeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for infotrafic in infotrafics %}
            <tr>
                <td>{{ infotrafic.type }}</td>
                <td>{{ infotrafic.description }}</td>
                <td>nom:{{infotrafic.chauffeur.nomc }}/prenom:{{infotrafic.chauffeur.prenomc }}/email:{{infotrafic.chauffeur.emailc }}</td>
                <td style="display: flex;gap: 10px;">
                    <Button>  <a href="{{ path('app_infotrafic_show', {'id': infotrafic.id}) }}">Show</a></Button>
                        <Button>  <a href="{{ path('app_infotrafic_edit', {'id': infotrafic.id}) }}">Edit</a></Button>
                {{ include('infotrafic/_delete_form.html.twig') }}
                <form action="{{ path('app_infotraffic_like', {'infoid': infotrafic.id}) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-success"><i class="far fa-thumbs-up"></i></button>
                </form>
    
                <form action="{{ path('app_infotraffic_dislike', {'infoid': infotrafic.id}) }}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger"><i class="far fa-thumbs-down"></i></button>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.flashes('success') %}
    <div id="flash-message" class="alert alert-success">
        {{ flashMessage }}
    </div>
  {% endfor %}
  {% if infotrafics|length > 0 %}
  <div class="d-flex justify-content-center my-4">
      {{ knp_pagination_render(infotrafics) }}
  </div>
{% endif %}
</div>
</div>

   <Button> <a href="{{ path('app_infotrafic_new') }}">Create new</a></Button>


   
   



    <style>
        .mt-4 {
            margin-top: 4rem;
        }
       
        table {
            width: 90%;
            margin: 1rem auto;
            border-collapse: collapse;
            border: 2px solid #ffb6c1; /* pink border */
            box-shadow: 0px 0px 10px #9370db; /* purple shadow */
            table-layout: auto;
        }
        th, td {
            border: 1px solid ; /* purple border */
           padding: 0.5rem;
           text-align: center;
           
          }

         
        
    </style>

{% endblock %}
