{% extends "base-front_passager.html.twig" %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
<data-spy="scroll" data-target=".inner-link" data-offset="60">
    <main>
        <div class="znav-container znav-white znav-fixed border-bottom color-10" id="znav-container">
            <div class="container">
                <nav class="navbar navbar-toggleable-md"><button class="navbar-toggler navbar-toggler-right"
                        type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger hamburger--emphatic">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </button><a class="navbar-brand overflow-hidden" href="{{ path('app_home_front_passager') }}"><img
                            src="{{asset('front-office/images/posh.png')}}" alt='logo' width='80px'></a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                           
            
                    </div>
                </nav>
            </div><!-- /.container-->
        </div><!-- /.znav-container-->
    <div class="container">
         <div class="row">
             <div class="col s12 m6 offset-m3">
                 <h2>Modifier mon mot de passe</h2>
                 <h3>Modifier mon mot de passe : </h3>
         {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                   {{ form_widget(form) }}
                        {{ form_errors(form,{'attr':{'class':'text-danger'}}) }}
                    {{ form_end(form) }}
             </div>
        </div>
    </div>
{% endblock %}