 {% extends 'baseFront.html.twig' %}

{% block title %}Infotrafic index{% endblock %}

{% block body %}


 <head>
    <title>Search Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
  // Hide the results list on page load
  $('#result-list').addClass('hidden');

  // Show the results list when the search box is clicked
  $('#search-box').on('click', function() {
    $('#result-list').removeClass('hidden');
  });

  // Hide the results list when the search box loses focus
  $('#search-box').on('blur', function() {
    $('#result-list').addClass('hidden');
  });

  // Hide the results list when the user presses the "Tab" key to move to another element on the page
  $('#search-box').on('keydown', function(event) {
    if (event.keyCode === 9) {
      $('#result-list').addClass('hidden');
    }
  });

  // TODO: Add AJAX functionality to fetch search results and update the list
});

    </script>
  </head>
                  <br>

                <br>

                <br>

                <br>

                <br>

<h1 style="text-align: center;">Covoiturage List</h1>
    <div class="d-flex justify-content-center mt-4">
    <div class="text-center">
  
    {% for flashMessage in app.flashes('success') %}
    <div id="flash-message" class="alert alert-success">
        {{ flashMessage }}
    </div>
  {% endfor %}
 

</div>
</div>
<input type="text" class="form-control" placeholder="Recherche" id="rech">
                <br>
                <script>
        function filterTable() {
            const filter = document.getElementById('rech').value.toUpperCase();
            const rows = document.querySelectorAll('table tr');
            for (let i = 1; i < rows.length; i++) {
                const cols = rows[i].querySelectorAll('td');
                let visible = false;
                for (let j = 0; j < cols.length; j++) {
                    const cell = cols[j];
                    if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break;
                    }
                }
                rows[i].style.display = visible ? '' : 'none';
            }
        }
        document.getElementById('rech').addEventListener('keyup', filterTable);
    </script>

 <div align="center">
  <form action="">
    <label for="orderBy" style="font-weight:bold; font-size:16px; color:#333;">Trier par :</label>
    <select id="orderBy" name="client" onchange="location = this.value;" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
      <option value=""></option>
      <option value="{{ path('app_trier_depart') }}">Départ</option>
      <option value="{{ path('app_trier_destination') }}">Destination</option>
      <option value="{{ path('app_trier_vehicule') }}">Vehicule</option>
    </select>
  </form>
</div>
  
<table border="2" style="" class="table table-borderless datatable" >
    <tr>
    
        <th>Depart</th>
        <th>Destination</th>
        <th>date covoiturage</th>
        <th>idc</th>
       <th>prix</th>
        <th>nbre de place</th>
        <th>vehicule</th>
          <th>Action</th>
       
      
    </tr>
   {% for v in covs%}
    <tr>
       
        <td>{{v.depart}}</td>
        <td>{{v.destination}}</td>
        <td>{{v.datecovoiturage.format('Y-m-d')}}</td>
        <td>{{v.idc}}</td>
        <td>{{v.prix}}</td>
        <td>{{v.nbrplace}}</td>
        <td>{{v.vehicule}}</td>
        <td>
       
      
      
        <a href="{{path('modifc',{'id':v.id})}}" > update</a>
       
       
           <form action="{{path('daletecov',{'id':v.id})}}" method="">
              <button type="submit">Delete</button>
            </form>
        </td>
     
      
    </tr>

    {% endfor %}
</table>

   
   
<div class="pagination"style="display: flex; justify-content: center;">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  {{ knp_pagination_render(covs, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
</div>

 {% include "chat/index.html.twig" %}

{% endblock %}

 
 
 
     





